::placeholder {
  color: #009999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 30px;
  margin-right: 10px;

}

.logo h1 {
  color: #009999;
  font-family: sans-serif;
  font-size: 1.6rem;
}

.nav-links {
  list-style: none;
  margin-left: auto;
}

.nav-links li {
  display: inline-block;
}

.nav-links li a {
  padding: 10px;
  text-decoration: none;
  color: rgb(153, 153, 153);
  font-size: 1.6rem;
  cursor: pointer;
  font-family: sans-serif;
  margin: 10px;
}

.nav-links li a:hover {
  color: #009999;
}

.menu-btn i {
  font-size: 32px;
  cursor: pointer;
  display: none;
  color: rgb(153, 153, 153);

}

@media screen and (max-width:150px) {
  .logo {
    flex-direction: column;
  }

}

@media screen and (max-width:991px) {
  .navbar .menu-btn i {
    display: block;
    float: right;
  }
}

@media screen and (max-width:991px) {
  .nav-links a {
    display: none;
  }

}

.menu {
  display: none;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

.menu a {
  text-decoration: none;
  color: rgb(153, 153, 153);
  font-size: 1.6rem;
  line-height: 1.8;
}

@media screen and (max-width:991px) {
  .menu {
    display: none;
    width: 100%;
    text-align: center;
  }

}

.background-image img {
  height: 220px;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width:480px) {
  .about-pic img {
    width: 100%;
  
  }

}

h2 {
  color: #009999;
  font-family: sans-serif;
}


.about {
  display: flex;
  justify-content: space-between;
}

.about-pic img {
  height:220px;
  /* width: 100%; */

}

.about-info p {
  color: rgb(153, 153, 153);
  font-family: sans-serif;
  line-height: 1.8;
  padding: 18px;
}

@media screen and (max-width:768px) {
  .about {
    flex-direction: column;
  }
  .about-pic{
    align-items: center;
    margin: auto;
  }
  .logo-title{
    text-align: center;
  }

}

.content-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.content-information .left {
  color: rgb(153, 153, 153);
  font-family: sans-serif;
  line-height: 1.8;
}

.content-information .right {
  color: rgb(153, 153, 153);
  font-family: sans-serif;
  line-height: 1.8;
}

@media screen and (max-width:768px) {
  .content-information {
    display: block;
  }

}





.icon-description {

  display: flex;
  justify-content: space-between;

}

.icon-image img {
  height: 150px;
  width: 150px;
  border: 1px solid rgb(0, 153, 153);
}

.icon-info {
  color: rgb(153, 153, 153);
  line-height: 1.8;
  font-family: sans-serif;
  padding: 10px;
}

@media screen and (max-width:768px) {
  .icon-description {
    display: block;
  }
  .read-button{
    display: flex;
    justify-content: center;
  }
}
.read-button{
  padding: 30px 0px;
  text-align: center;
}

.read-button button {
  color: white;
  background-color: #009999;
  cursor: pointer;
  padding: 12px 50px 14px;
  border-radius: 5px;
  font-size: 1.2rem;
  text-align: center;
}

div h3 {
  color: rgb(0, 153, 153);
  font-family: sans-serif;
}



.footer-distributed {
  display: flex;
  padding: 20px;
  width: 100%;
  justify-content: space-between;
}

.footer-distributed .about,
.footer-distributed .link,
.footer-distributed .logo {
  flex-basis: 30%;
}


@media screen and (max-width:750px) {

  .footer-distributed .about,
  .footer-distributed .link,
  .footer-distributed .logo {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}

.footer-distributed {
  background-color: #181717;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 95px;
}

.footer-distributed .about,
.footer-distributed .link,
.footer-distributed .logo {
  vertical-align: top;
  display: inline-block;
}



.footer-distributed .link a {
  color: rgb(153, 153, 153);
}

.about p {
  color: rgb(153, 153, 153);
  line-height: 1.8;
}


.link a {
  margin: 5px;
  padding: 5px;
  display: block;
  color: rgb(153, 153, 153);
}


.logo img:hover {
  color: rgb(0, 153, 153)
}



.footer-distributed .logo i {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  color: #ffffff;
}

.footer-distributed .logo i:hover {
  background-color: #666666;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: #009999;

}

.footer-distributed .logo a:hover {
  background-color: #009999;
}

@media screen and (max-width:575px) {
  .footer-distributed {
    flex-direction: column;
  }

}