::placeholder{
    color: #009999;
  }
  .navbar {
      display: flex;
      align-items: center;
      padding: 20px;
    }
    .logo{
      display: flex;
      align-items: center;
    }
    .logo-image {
      height: 30px;
      margin-right: 10px;
  
    }
    .logo h1{
      color: #009999;
      font-family: sans-serif;
      font-size: 1.6rem;
      /* font-weight: bold; */
    }
    
    .nav-links {
      list-style: none;
      margin-left: auto;
    }
    
    .nav-links li {
      display: inline-block;
    }
    
    .nav-links li a {
      padding: 10px;
      text-decoration: none;
      color: rgb(153,153,153);
      font-size: 1.6rem;
      cursor: pointer;
      font-family: sans-serif;
      margin: 10px;
    }
    .nav-links li a:hover{
      color: #009999;
    }
    .menu-btn i{
      display: none;
      left:30%;
      /* position: fixed; */
      float: right;
    }
    @media screen and (max-width:150px) {
      .logo{
          flex-direction: column;
      }
      
    }
     
    @media screen and (max-width:600px) {
      .navbar .menu-btn i {
        display: block;
      }
    }
  
    /* Media Query for responsive design */
    @media screen and (max-width: 768px) {
      .navbar {
        flex-direction: column;
      }
      
      .nav-links {
        margin: 20px 0;
      }
    }
    @media screen and (max-width:600px) {
      .nav-links a{
        display: none;
      }
      
    }
    .menu {
      display: none;
      list-style: none;
      text-decoration: none;
    }
    .menu a{
      text-decoration: none;
    }
    @media screen and (max-width:600px) {
      .menu{
        display: block;
      }
      
    }
    .background-image img{
        height:220px;
        width:100%;
    }
    @media screen and (max-width:480px) {
      .background-image img{
        width:500px;
        height: 300px;
      }
      
    }
    h2{
      color: #009999;
      font-family: sans-serif;
    }
    .about{
      display: flex;
      justify-content: space-between;
    }
    .about-pic img{
      height:220px;

    }
    .about-info p{
      color: rgb(153,153,153);
      font-family: sans-serif;
      line-height: 1.8;
      /* width:60%; */
    }
    @media screen and (max-width:640px) {
      .about{
        flex-direction: column;
      }
      
    }
    .content-information{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .content-information .left{
      color: rgb(153,153,153);
      font-family: sans-serif;
      line-height: 1.8;
    }
    .content-information .right{
      color: rgb(153,153,153);
      font-family: sans-serif;
      line-height: 1.8;
    }
    @media screen and (max-width:440px) {
      .content-information{
        display: block;
      }
      
    }





    .icon-description{

      display: flex;
      justify-content: space-between;
     
  }
  .icon-image img{
      height:150px;
      width:150px;
      border: 1px solid rgb(0,153,153);
  }
  .icon-info{
      color:rgb(153,153,153);
      line-height: 1.8;
    font-family: sans-serif;
  }
  @media screen and (max-width:250px) {
    .icon-description{
      display: block;
    }
    
  }
  .read-button button{
    color: white;
    background-color: #009999;
    cursor: pointer;
    padding: 12px 50px 14px;
    align-items: center;
    border-radius: 5px;

  }

  div h3 {
    color: rgb(0, 153, 153);
    font-family: sans-serif;
  }
 


  .footer-distributed {
    display: flex;
    padding: 20px;
    width: 100%;
    justify-content: space-between;
  }
 
  .footer-distributed .about,
  .footer-distributed .link,
  .footer-distributed .logo {
    flex-basis: 30%;
  }
 
  /* @media screen and (max-width:750px) {
    .footer-distributed {
      flex-wrap: wrap;
    }
  } */
 
  @media screen and (max-width:750px) {
 
    .footer-distributed .about,
    .footer-distributed .link,
    .footer-distributed .logo {
      flex-basis: 100%;
      margin-bottom: 20px;
    }
  }
 
  .footer-distributed {
    background-color: #666665;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 95px;
  }
 
  .footer-distributed .about,
  .footer-distributed .link,
  .footer-distributed .logo {
    vertical-align: top;
    display: inline-block;
  }
 
 
 
  .footer-distributed .link a {
    color: rgb(153, 153, 153);
    /* margin-left: 200px; */
    /* justify-content:center ; */

  }
 
  .about p {
    color: rgb(153, 153, 153);
    line-height: 1.8;
  }
 
 
  .link a {
    margin: 5px;
    padding: 5px;
    display: block;
    color: rgb(153, 153, 153);
  }
 
 
  .logo img:hover {
    color: rgb(0, 153, 153)
  }
 
  /* .footer-distributed .logo a {
    display: inline-block;
    cursor: pointer;
    border-radius: 2px;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    align-items: center;
    border: 1px solid white;
    background-color: white;
 
  } */
 
  /* .footer-distributed .logo {
    background-color: #666666;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 300px;
    display: flex;
 
 
  } */
 
  .footer-distributed .logo i {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
  }
 
  .footer-distributed .logo i:hover {
    background-color: #666666;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background-color: #009999;
 
  }
 
  .footer-distributed .logo a:hover {
    background-color: #009999;
  }
  @media screen and (max-width:350px) {
    .footer-distributed{
      flex-direction: column;
    }
    
  }