::placeholder {
  color: #009999;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 30px;
  margin-right: 10px;

}

.logo h1 {
  color: #009999;
  font-family: sans-serif;
}

.nav-links {
  list-style: none;
  margin-left: auto;
}

.nav-links li {
  display: inline-block;
}

.nav-links li a {
  padding: 10px;
  text-decoration: none;
  color: rgb(153, 153, 153);
  font-size: 1.6rem;
  cursor: pointer;
  font-family: sans-serif;
  margin: 10px;
}

.nav-links li a:hover {
  color: #009999;
}

.menu-btn i {
  display: none;
  left: 30%;
  float: right;
}

@media screen and (max-width:150px) {
  .logo {
    flex-direction: column;
  }

}

@media screen and (max-width:600px) {
  .navbar .menu-btn i {
    display: block;
  }
}

/* Media Query for responsive design */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .nav-links {
    margin: 20px 0;
  }
}

@media screen and (max-width:600px) {
  .nav-links a {
    display: none;
  }

}

.menu {
  display: none;
  list-style: none;
  text-decoration: none;
}

.menu a {
  text-decoration: none;
}

@media screen and (max-width:600px) {
  .menu {
    display: block;
  }

}

.background-image img {
  height: 220px;
  width: 100%;
}

@media screen and (max-width:480px) {
  .background-image img {
    height: 220px;
    width: auto;
  }

}



.personal-info h2 {
  color: #009999;
  font-family: sans-serif;
  font-size: 30px;
}
.form-control{
  /* display: block; */
  font-size: 1.2rem;
  /* font-weight: 400; */
  line-height: 1.2;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  /* width:40%; */
  margin: 5px;
  padding: 5px;
 }
 
form{
  margin: 15px;
  padding: 15px;
}

.contact input {
  color: #009999;
  padding: 10px 20px;
  width: 80%;
  height: auto;
}
@media screen and (max-width:991px) {
  .contact input,
  .contact select,
  .contact textarea{
    width: 100%;
    height: auto;
  }
  
}
.contact select {
  padding: 10px 20px;
  width: 95%;
  height: auto;
  color: #009999;
}
.contact textarea {
  color: #009999;
  padding: 10px 20px;

} 

.contact-button button {
  background-color: #009999;
  border-radius: 5px;
  padding: 12px 50px 14px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.contact-button button:hover {
  background-color: #117964;
}

.personal-info {

  display: flex;
  justify-content: space-between;
  padding: 30px 25px;
}

.address-logo {
  font-family: sans-serif;
  color: rgb(153, 153, 153);
}

.address p {
  color: rgb(153, 153, 153);
  line-height: 1.8;
}

.address-logo i {
  display: block;
  margin: 5px;
  padding: 5px;
}

.address .address-logo i:hover {
  color: #009999;
  cursor: pointer;

}

.logo {
  display: block;
  color: rgb(153, 153, 153);
}

.location h2 {
  color: #009999;
  font-family: sans-serif;
  font-size: 30px;
}

@media screen and (max-width:991px) {
  .personal-info {
    display: block;
  }

}

 @media screen and (max-width:525px) {
  iframe {
    height: 200px;
    width: 475px;
  } 
 }
  @media screen and (max-width:440px) {
    iframe{
      height: 150px;
      width:390px;
    }
    
  }


.photo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.photo .pic {
  width: 25%;
}

@media screen and (max-width:991px) {
  .photo .pic {
    width: 50%;
  }


}


@media screen and (max-width:575px) {
  .photo .pic {
    width: 100%;
  }

}

.photo img {
  height: 250px;
  width: -webkit-fill-available;

}

.photo img {
  margin: 4px;
  padding: 4px;
  object-fit: cover;
}

.photo {
  display: flex;
  justify-content: space-between;
}

.photo h2 {
  color: #009999;
  font-family: sans-serif;
  font-size: 30px;
  margin-left: 20px;
}

.photo h3 {
  color: #cc6699;
  font-family: sans-serif;
  font-size: 1.25rem;
  margin-left: 20px;
}

.pic p {
  color: rgb(153, 153, 153);
  line-height: 1.8;
}

.logo i {
  margin: 5px;
  padding: 5px;
}

.logo i:hover {
  background-color: #009999;
}

::placeholder {
  color: #009999;
}


div h3 {
  color: rgb(0, 153, 153);
  font-family: sans-serif;
}


.footer-distributed {
  display: flex;
  padding: 20px;
  width: 100%;
  justify-content: space-between;
}

.footer-distributed .about,
.footer-distributed .link,
.footer-distributed .logo {
  flex-basis: 30%;
}

.footer-distributed {
  background-color: #666665;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 95px;
}

.footer-distributed .about,
.footer-distributed .link,
.footer-distributed .logo {
  vertical-align: top;
  display: inline-block;
}



.footer-distributed .link a {
  color: rgb(153, 153, 153);

}

.about p {
  color: rgb(153, 153, 153);
  line-height: 1.8;
}


.link a {
  margin: 5px;
  padding: 5px;
  display: block;
  color: rgb(153, 153, 153);
}


.logo img:hover {
  color: rgb(0, 153, 153)
}



.footer-distributed .logo i {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.footer-distributed .logo i:hover {
  background-color: #666666;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: #009999;

}

.footer-distributed .logo a:hover {
  background-color: #009999;
}

@media screen and (max-width:768px) {
  .footer-distributed {
    flex-direction: column;
  }

}