::placeholder {
  color: #009999;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 30px;
  margin-right: 10px;

}

.logo h1 {
  color: #009999;
  font-family: sans-serif;
  font-size: 1.6rem;
}

.nav-links {
  list-style: none;
  margin-left: auto;
}

.nav-links li {
  display: inline-block;
}

.nav-links li a {
  padding: 10px;
  text-decoration: none;
  color: rgb(153, 153, 153);
  font-size: 1.6rem;
  cursor: pointer;
  font-family: sans-serif;
  margin: 10px;
}

.nav-links li a:hover {
  color: #009999;
}

.menu-btn i {
  font-size: 32px;
  cursor: pointer;
  display: none;
  color: rgb(153, 153, 153);

}

@media screen and (max-width:150px) {
  .logo {
    flex-direction: column;
  }

}

@media screen and (max-width:991px) {
  .navbar .menu-btn i {
    display: block;
    float: right;
  }
}

@media screen and (max-width:991px) {
  .nav-links a {
    display: none;
  }

}

.menu {
  display: none;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

.menu a {
  text-decoration: none;
  color: rgb(153, 153, 153);
  font-size: 1.6rem;
  line-height: 1.8;
}

@media screen and (max-width:991px) {
  .menu {
    display: block;
    width: 100%;
    text-align: center;
  }

}



form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  background: #f1f1f1;
  margin-left: 520px;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: rgb(0, 153, 153) !important;
  background-position: center;
}

form.example button {
  float: left;
  width: 70px;
  height: 42px;
  padding: 10px;
  background: rgb(0, 153, 153);
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  position: absolute;
  justify-content: center;
}

form.example button:hover {
  background-color: #117964
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

video {
  display: flex;
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.video-layer {
  position: relative;
}

.a1 {
  border: 1px solid transparent;
  color: #666666;
}

.container-form {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:500px) {
  video {
    height: 300px;
    width: 500px;
  }

}

.container-form input {
  max-width: 30rem;
  min-width: 20rem;
}

@media screen and (max-width:400px) {
  .container-form input {
    min-width: 15rem;

  }

}

@media screen and (max-width:400px) {
  .container-fom {
    display: flex;
    justify-content: center;
  }

}

@media screen and (max-width:450px) {
  form.example input[type="text"] {
    min-width: 15rem;
  }

}

h2 {
  font-family: sans-serif;
  color: #009999;
  margin-left: 15px;
}

.image-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.horizontal-image {
  height: 200px;
  width: 350px;
  margin: 5px;
  padding: 5px;

}

.image-box img {
  height: 200px;
  width: 350px;
  object-fit: cover;
}

.pagination-section {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  justify-content: space-between;
}

.pagination-previous button {
  color: #ffffff;
  background-color: #009999;
  cursor: not-allowed;
  padding: 12px 50px 14px;
  border-radius: 5px;
  text-align: center;
}

.pagination .active {
  background-color: #009999;
}

.pagination button {
  border-radius: 5px;
  color: #ffffff;
  height: 45px;
  width: 45px;
  cursor: pointer;
  margin: 5px;
  padding: 5px;

}

.pagination button:hover {
  background-color: #117964;
}

.pagination a {
  text-decoration: none;
}

.pagination-next button {
  color: #ffffff;
  background-color: #009999;
  border-radius: 5px;
  padding: 12px 50px 14px;
  cursor: pointer;

}

.pagination-next button:hover {
  background-color: #117964;
}

@media screen and (max-width:768px) {
  .pagination-section {
    display: block;
    width: 100%;
    text-align: center;
  }

}

div h3 {
  color: rgb(0, 153, 153);
  font-family: sans-serif;
}



.footer-distributed {
  display: flex;
  padding: 20px;
  width: 100%;
  justify-content: space-between;
}

.footer-distributed .about,
.footer-distributed .link,
.footer-distributed .logo {
  flex-basis: 30%;
}



.footer-distributed {
  background-color: #666665;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 95px;
}

.footer-distributed .about,
.footer-distributed .link,
.footer-distributed .logo {
  vertical-align: top;
  display: inline-block;
}



.footer-distributed .link a {
  color: rgb(153, 153, 153);

}

.about p {
  color: rgb(153, 153, 153);
  line-height: 1.8;
}


.link a {
  margin: 5px;
  padding: 5px;
  display: block;
  color: rgb(153, 153, 153);
}


.logo img:hover {
  color: rgb(0, 153, 153)
}


.footer-distributed .logo i {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.footer-distributed .logo i:hover {
  background-color: #666666;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: #009999;

}

.footer-distributed .logo a:hover {
  background-color: #009999;
}

@media screen and (max-width:575px) {
  .footer-distributed {
    flex-direction: column;
  }

}